<!-- src/app/education/education.component.html -->
<div>
    <h2>Education</h2>
    <div class="p-1 rounded-2 education">
        <!-- B.Tech. Education -->
        <div class="education-item p-3">
            <h3>Bachelor of Technology(B.Tech.) | 2017 - 2021</h3>
            <div class="mt-4">
                <p class="m-0">My Bachelor of Technology in Computer Science and Engineering Journey (2017-2021)
                    Completed at KIET GROUP OF INSTITUTION under the affiliation of Dr. A.P.J. Abdul Kalam Technical
                    University
                    (AKTU).</p>
                <p>Attained a Cumulative Grade Point Average (CGPA) of 7.34.</p>
            </div>
        </div>

        <!-- 12th Education -->
        <div class="education-item p-3">
            <h3>Senior Secondary Education (12th Grade) | 2015</h3>
            <p>Completed at A.B.V. INTER COLLEGE.</p>
            <p>Achieved a notable percentage of 91.2.</p>
        </div>

        <!-- 10th Education -->
        <div class="education-item p-3">
            <h3>Secondary Education (10th Grade) | 2013</h3>
            <p>Completed at A.B.V. INTER COLLEGE.</p>
            <p>Secured a commendable percentage of 85.7.</p>
        </div>
    </div>
</div>