<div>
    <h2 class="animate__animated animate__fadeInUp">About Me</h2>
    <div class="pt-4">
        <p class="animate__animated animate__fadeInUp"><b>Hello there! I'm Sachin Gangwar</b>, a passionate web
            developer with a focus on Angular, Typescript,
            JavaScript, Html, CSS & React js.</p>

        <p class="animate__animated animate__fadeInUp">With hands-on experience in Angular 7+(all versions), I
            have honed my skills to create dynamic
            and efficient web applications. I believe in the power of technology to drive positive change, and I am
            dedicated to crafting seamless user experiences through my work.</p>

        <p class="animate__animated animate__fadeInUp">One of my proudest achievements is scoring 85% in the NQT
            (National Qualifier Test) - programming, conducted
            by
            TCS, in my very first attempt. This accomplishment not only reflects my technical proficiency but also my
            commitment to continuous learning and growth in the ever-evolving field of programming.</p>
        <i class="animate__animated animate__fadeInUp"></i>

        <p class="animate__animated animate__fadeInUp">Outside of coding, you'll find me exploring new technologies,
            contributing to open-source projects, and
            staying
            updated on the latest industry trends. I'm driven by a curiosity to solve complex problems and a passion for
            creating innovative solutions that make a positive impact.</p>

        <p class="animate__animated animate__fadeInUp">Let's connect and explore the exciting possibilities of web
            development together!</p>
    </div>
</div>