<div class="container">
    <h2>My Skills</h2>
    <hr class="hrTag">

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="skill-card">
                <h4>Angular</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="skill-card">
                <h4>JavaScript</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="skill-card">
                <h4>HTML</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="skill-card">
                <h4>CSS</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="skill-card">
                <h4>TypeScript</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="skill-card">
                <h4>React js</h4>
            </div>
        </div>
    </div>

    <h2 class="mt-1">Tools I Have Used</h2>
    <hr class="hrTag">

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="tool-card">
                <h4>Git</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="tool-card">
                <h4>Bitbucket</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="tool-card">
                <h4>Jira</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="tool-card">
                <h4>Jenkins</h4>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="tool-card">
                <h4>Postman</h4>
            </div>
        </div>
    </div>
</div>