<nav class="d-flex flex-column align-items-center navHeight">
    <div class="text-center">
        <img src="../../assets/images/IMG-20180227-WA0004.jpg" alt="Placeholder" class="w-50 p-1 imgMargin rounded-circle">
        <p class="userName">Sachin Gangwar</p>
        <p class="text-body-secondary userRole">Frontend Developer</p>
    </div>
    <ul class="list-unstyled text-center sideMargin">
        <li class="p-2"><a class="text-body-secondary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li class="p-2"><a class="text-body-secondary" routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="p-2"><a class="text-body-secondary" routerLink="/experience" routerLinkActive="active">Experience</a>
        </li>
        <li class="p-2"><a class="text-body-secondary" routerLink="/education" routerLinkActive="active">Education</a>
        </li>
        <!-- <li class="p-2"><a class="text-body-secondary" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li> -->
        <li class="p-2"><a class="text-body-secondary" routerLink="/skills" routerLinkActive="active">Skills</a></li>
        <li class="p-2"><a class="text-body-secondary" routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <div class="social-links">
        <a class="bg-white" href="https://www.linkedin.com/in/sachin-gangwar-635a82169?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="bg-white" href="https://www.instagram.com/gangwar_shb/?hl=en" target="_blank"><i class="fab fa-instagram text-danger"></i></a>
        <a class="bg-white" href="https://www.facebook.com/sachin.gangwar.9406?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
</nav>